{% extends "new_base.html" %}

{% load static %}

{% load humanize %}

{% block title %}
Xác nhận đơn hàng
{% endblock %}

{% block content %}

    <div class="container" style="margin-top:50px">
        <h3>Đơn hàng của bạn</h3>
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Tên món</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                    <td>{{ item.food.food_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.food.price|floatformat|intcomma }} vnđ</td>
                    <td>{{ item.total_price|floatformat|intcomma }} vnđ</td>
                    </tr>
                {% endfor %}
                <tr class="table-success">
                    <td colspan="2"></td>
                    <td>Tổng: </td>
                    <td>{{ cart.get_total_price|floatformat|intcomma }} vnđ</td>
                </tr>
            </tbody>
        </table>

        <form method="post" class="order-form">
            {{ form.as_p }}
            <p><input type="submit" value="Place order"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}